@import '../variables.scss';

.btn,
button{
    border:0;
    border:2px solid $black;
    background-color:#fff;
    color:$darkBlue;
    font-size:1rem;
    line-height:1;
    display: inline-block;
    border-radius:4px;
    padding:14px 21px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $base;
    transition: all .3s ease;
    cursor: pointer;

    &:hover{
        background-color:$darkBlue;
        border:2px solid $darkBlue;

        color:#fff;
    }
}