@import '../variables.scss';

*{
  box-sizing:border-box;
}

body{
  font-optical-sizing: auto;
  position:relative;
  font-size:16px;
  font-family:$base;
  font-weight:400;
  line-height:1;
  margin:0;
}

img{
  display: block;
  width:100%;
  height:auto;
}

.screenReader{
  display: none;
}