/* COLORS */
$black: #333;
$white: #fff;
$darkBlue: #0e3562;
$skyBlue: #179ace;
$tomato: #e3382f;

$error: #c23636;
$success: rgb(11, 169, 11);

/* FONTS */
$base: "Raleway", sans-serif;

/* BUTTONS */
$btn-base-color: $black;
$btn-text: #fff;
$btn-hover: #000;


@mixin boxShadow() {
    -webkit-box-shadow: 0px 13px 25px -13px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 13px 25px -13px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 13px 25px -13px rgba(0, 0, 0, 0.21);
}
